$primary_border: 1px solid $primary_color;
$secondary_border: 1px solid $secondary_color;
$base_border: 1px solid $base_color;

$base_border--hover: 2px solid $base_color;
$base_border--current: 6px solid $base_color;