$primary_color:#535da1;
$secondary_color: #14b789;
$section_bg_color: #f9f9f9;
$dark_color: #000000;
$base_color: #FFFFFF;
$trasparent_color: rgba(255, 255, 255, 0.8);
$p_color:#717275;
$border_color:#e9eaeb;
$featured_border_color:#727aab;