.icon-arrow_left {
  content: "\e900";
}

.icon-arrow_right {
  content: "\e901";
}

.icon-backtotop_down {
  content: "\e902";
}

.icon-backtotop_up {
  content: "\e903";
}

.icon-dropdown_down {
  content: "\e904";
}

.icon-dropdown_up {
  content: "\e905";
}

.icon-topbar_arrow {
  content: "\e906";
}

.icon-topbar_mail {
  content: "\e907";
}

.icon-topbar_telephone {
  content: "\e908";
}

.icon-Ellipse {
  content: "\e90a";
}

.icon-burger {
  content: "\e909";
}