<div class="main-footer">
    <div class="main-footer__container">
        <div class="main-footer__info">
            <p class="main-footer__text">This is a portfolio site!</p>
        </div>
        <div class="main-footer__contact">
            <a class="main-footer__social main-footer__social--facebook">Facebook</a>
            <a class="main-footer__social main-footer__social--instagram">Instagram</a>
            <a class="main-footer__social main-footer__social--twitter">Twitter</a>
        </div>
    </div>
</div>