<div class="hero-slider">
    <f:media file="{slider_images.0}" class="hero-slider__slide d-block w-100" additionalConfig="{loop: '1', autoplay: '1', controls: '0', muted: '1'}" />
    <div class="hero-slider__info-box">
        <f:media file="{slider_images.1}" class="hero-slider__profile-image"/>
        <div class="hero-slider__info-content">
            <h1 class="hero-slider__title">{data.hero_slider_title}</h1>
            <p class="hero-slider__subtitle">{data.hero_slider_subtitle}</p>
        </div>
    </div>
</div>

